# -----------------------------------------------------------------------
# [y] hybris Platform 
# 
# Copyright (c) 2000-2016 hybris AG
# All rights reserved.
#  
# This software is the confidential and proprietary information of hybris 
# ("Confidential Information"). You shall not disclose such Confidential
# Information and shall use it only in accordance with the terms of the
# license agreement you entered into with hybris.
#
#  
# -----------------------------------------------------------------------

# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

#recastwebchataddon.key=value

recastwebchataddon.channelid=300899f3-34de-4b95-b51c-8c133d8fc41a
recastwebchataddon.token=f57223adf67cb36cb9be0c881785b8e4

# Specifies the location of the spring context file added automatically to the global platform application context.
recastwebchataddon.application-context=recastwebchataddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.recastwebchataddon=classpath:/recastwebchataddon/web/spring/recastwebchataddon-web-spring.xml

recastwebchataddon.javascript.paths.responsive=/responsive/common/js/recastwebchataddon.js
recastwebchataddon.css.paths.responsive=/responsive/common/css/recastwebchataddon.css

